[Unit]
Description=Proxmox PXE Install Webhook Handler
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/webhook/webhook.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
