set default=0
set timeout=10

# NUC の MAC アドレスで answer.toml を切り替え
if [ "${net_default_mac}" = "f4:4d:30:69:2b:78" ]; then
  set answer_url="http://192.168.210.55/answer/node01.toml"
elif [ "${net_default_mac}" = "f4:4d:30:6c:67:ef" ]; then
  set answer_url="http://192.168.210.55/answer/node02.toml"
else
  set answer_url="http://192.168.210.55/answer/node01.toml"
fi

menuentry "Proxmox VE 8 Auto Install" {
  set gfxpayload=1024x768
  linux  (http,192.168.210.55)/iso/boot/linux26 \
    ro ramdisk_size=16777216 rw quiet splash=silent \
    fetch=http://192.168.210.55/proxmox-ve.iso \
    proxmox-start-auto-installer \
    proxmox-answer-file="${answer_url}"
  initrd (http,192.168.210.55)/iso/boot/initrd-pxe.img
}
