set default=0
set timeout=10
set TFTP=192.168.210.55

# NUC の MAC アドレスで answer.toml を切り替え
if [ "${net_default_mac}" = "f4:4d:30:69:2b:78" ]; then
  set answer_url="http://${TFTP}/answer/node01.toml"
elif [ "${net_default_mac}" = "f4:4d:30:6c:67:ef" ]; then
  set answer_url="http://${TFTP}/answer/node02.toml"
else
  set answer_url="http://${TFTP}/answer/node01.toml"
fi

menuentry "Proxmox VE 8 Auto Install" {
  set gfxpayload=text
  linux  (http,192.168.210.55)/iso/boot/linux26 vga=791 quiet splash \
    fetch=http://192.168.210.55/proxmox-ve.iso \
    proxmox-start-default-install=1 \
    proxmox-answer-file="${answer_url}"
  initrd (http,192.168.210.55)/iso/boot/initrd.img
}
